.custom .sectionedProgressBar-section {
    stroke: lightgreen;
    stroke-linecap: round;
}

.custom .sectionedProgressBar-text {
    font-size: 70px;
    font-family: Tahoma;

    stroke: green;
    fill: green;
    stroke-width: 4px;
    dominant-baseline: middle;
    text-anchor: middle;
}

.custom .sectionedProgressBar-text .total {
    stroke: lightgreen;
    fill: lightgreen;
    stroke-width: 2px;
}

.custom .sectionedProgressBar-section.active {
    stroke: green;
    stroke-linecap: round;
}