$example3-color: #ee5622
$example4-color: #df1042
$example5-color: #bfbf10
@function fade-color($color)
	@return desaturate(lighten($color, 30%), 10%)

.showCollection
	display: flex
	justify-content: space-around


.sectionedProgressBar-text
		font-family: "Palatino Linotype"

.example1
	.sectionedProgressBar-section
		stroke: lightgreen
		stroke-linecap: round

		&.active
			stroke: green

	.sectionedProgressBar-text
		font-size: 50px

		stroke: green;
		fill: green
		stroke-width: 4px
		dominant-baseline: central
		text-anchor: middle

		.total
			stroke: lightgreen
			fill: lightgreen
			stroke-width: 2px


.example2
	.sectionedProgressBar-section
		stroke: lightblue

		&.active
			stroke: blue

	.sectionedProgressBar-text
		font-size: 50px

		stroke: blue;
		fill: blue
		stroke-width: 4px
		dominant-baseline: central
		text-anchor: middle

		.total
			stroke: lightblue
			fill: lightblue
			stroke-width: 2px


.example3
	.sectionedProgressBar-section
		stroke: fade-color($example3-color)

		&.active
			stroke: $example3-color

	.sectionedProgressBar-text
		font-size: 40px

		stroke: $example3-color;
		fill: $example3-color
		stroke-width: 3px
		dominant-baseline: central
		text-anchor: middle

.example4
	.sectionedProgressBar-section
		stroke: fade-color($example4-color)

		&.active
			stroke: $example4-color

	.sectionedProgressBar-text
		font-size: 45px

		stroke: $example4-color;
		fill: $example4-color
		stroke-width: 3px
		dominant-baseline: central
		text-anchor: middle

.example5
	.sectionedProgressBar-section
		stroke: fade-color($example5-color)
		stroke-linecap: round

		&.active
			stroke: $example5-color

	.sectionedProgressBar-text
		font-size: 45px

		stroke: $example5-color;
		fill: $example5-color
		stroke-width: 3px
		dominant-baseline: central
		text-anchor: middle